<h1>Make a New Restaurant:</h1> 
<%= form_for(@restaurant) do |f|%>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br></br> 
    <div>
      <%= f.label :type %> 
      <%= f.select :type,options_for_select(["fast food", "diner", "fine dining", "steakhouse", "seafood", "Italian", "Asian", "Pizza", "Other"]), include_blank: true %> 
    </div> 
    <br></br>
    <div>
      <%= f.label :price_range %> 
      <%= f.select :price_range,options_for_select(["$", "$$", "$$$"]), include_blank: true %>   
    </div> 
    <br></br>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %> 
    </div>
    <br></br>
    <div>
      <p>Select a company that already exists</p>
      <%= f.collection_select :company_id, Company.all, :id, :name %>  
    </div>
    <br></br>
    <div>
      <p>Or create a new company</p>
      <%= f.fields_for :company do |c| %>
        <%= c.label :name %>
        <%= c.text_field :name %> 
        <% end %> 
    </div> 
    <br></br>
    <%= f.submit "Submit" %>
  <% end %>