<h1><%= @restaurant.name%>  </h1>


<h2> <%= @restaurant.category_name %> </h2>
<div>
  <p><%= @restaurant.price_range %></p>
  <p><%= @restaurant.address %></p>
</div>


<%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) if @restaurant.user == current_user%>

<br></br>

<%= link_to "See all Reviews", restaurant_reviews_path(@restaurant) %>