<h1>Add a Review for <%= @review.restaurant.name %></h1> 
<% form_for @review do %> 
    <div>
      <%= f.label :stars %>
      <%= f.text_field :stars, min:0, max:5 %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, size: "25x10" %>
    </div>
      <%= f.hidden_field :restaurant_id %>  
      <%= f.submit "Create new Review" %> 
    <% end %> 