<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <% if logged_in? %> 
  <nav class='navbar'>
  <%= link_to "Log Out", logout_path, method: :delete %> |
  <%= link_to "Add a Restaurant", new_restaurant_path %> |
  <%= link_to "All Restaurant", restaurants_path %> |
  <%= link_to "Add a Review", new_review_path %> |
  <%= link_to "All Reviews", reviews_path %> |
  <%= link_to "Add A Company", new_company_path %> |
  <%= link_to "All Companies", companies_path %> |
  <%= link_to "Home", user_path(current_user)%> 

  </nav> 
  <% else %>
    <%= link_to 'Log In', login_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
