<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <% if logged_in? %> 
  <nav class='navbar'>
 <button><%= link_to 'Log Out', '/logout', method: :delete %></button>  

  <button><%= link_to 'My Restaurants', restaurant_path, class:'button' %></button>

  <button><%= link_to 'All Restaurants', all_restaurants_path, class:'button' %></button>

  <button><%= link_to 'Add a Restaurant', new_restaurant_path, class:'button' %></button>

  <button><%= link_to 'Companies', companies_path, class:'button' %></button>

  <button><%= link_to 'All Reviews', reviews_path, class:'button' %></button>

  <button><%= link_to 'Add a Review', reviews_path, class:'button' %></button>
  </nav> 
  <% else %>
    <%= link_to 'Log In', login_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
